WB_API_TOKEN=
WB_API_BASE_URL=https://statistics-api.wildberries.ru
WB_CONTENT_API_BASE_URL=https://content-api.wildberries.ru

OZON_CLIENT_ID=
OZON_API_KEY=
OZON_API_BASE_URL=https://api-seller.ozon.ru
OZON_PRODUCT_LIST_PATH=/v3/product/list
OZON_PRODUCT_INFO_LIST_PATH=/v3/product/info/list
OZON_PRODUCT_ATTRIBUTES_PATH=/v4/product/info/attributes
OZON_PRICE_LIST_PATH=/v5/product/info/prices
OZON_STOCK_INFO_PATH=/v4/product/info/stocks
OZON_POSTING_LIST_PATH=/v3/posting/fbs/list
OZON_FBO_POSTING_LIST_PATH=/v2/posting/fbo/list
